<div class="modal-header">
  <h4 class="modal-title">Remove URL</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="onClose()"
  ></button>
</div>
<div class="modal-body">
  <p>
    Are you sure you want to remove the record on
    <span class="text-info">{{ userUrl ? userUrl.longUrl : "N/A" }}</span
    >? If so, the redirect link will not function anymore.
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="onClose()">
    Cancel
  </button>
  <button type="button" class="btn btn-danger" (click)="onDelete()">
    Remove
  </button>
</div>
