<div class="modal-header">
  <h4 class="modal-title">Usage Statistics</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="onClose()"
  ></button>
</div>
<div class="modal-body">
  <p>
    Find below the statistics we collected on your short URL for
    <span class="text-info">{{ userUrl ? userUrl.longUrl : "N/A" }}</span>
  </p>
  <div class="col-12" style="height: 60vh">
    <canvas
      baseChart
      type="radar"
      [datasets]="chartData"
      [labels]="chartLabels"
      [options]="chartOptions"
    ></canvas>
  </div>
</div>
