<!-- Rapid filters -->
<div class="d-xs-table-row d-md-flex col-12">
  <div class="d-flex align-items-center ms-auto">
    <button
      type="button"
      id="btn-shorten-url"
      class="btn btn-outline-secondary btn-sm me-1 ms-auto"
      (click)="onRefresh()"
    >
      Refresh
    </button>
    <button
      type="button"
      id="btn-shorten-url"
      class="btn btn-outline-primary btn-sm me-2 ms-1"
      (click)="onAdd()"
    >
      Shorten an URL
    </button>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">URL</th>
      <th scope="col" class="d-none d-md-table-cell">Short URL</th>
      <th scope="col" class="d-none d-md-table-cell">Create Date</th>
      <th scope="col" class="d-none d-md-table-cell">Expiry Date</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let url of userUrls; index as i">
      <th scope="row">{{ url.id }}</th>
      <td>
        {{ url.longUrl }}
      </td>
      <td class="d-none d-md-table-cell">{{ url.shortUrl }}</td>
      <td class="d-none d-md-table-cell">{{ url.createDate | date }}</td>
      <td class="d-none d-md-table-cell">{{ url.expiryDate | date }}</td>
      <td>
        <button
          type="button"
          class="btn btn-sm"
          (click)="onCopy(url)"
          title="Copy Short URL"
        >
          <img
            src="/assets/img/copy.svg"
            alt="Copy Short URL"
            width="25"
            height="25"
          />
        </button>
        <button
          type="button"
          class="btn btn-sm"
          (click)="onDisplayStats(url)"
          title="Display URL Stats"
        >
          <img
            src="/assets/img/stats.svg"
            alt="Display URL Stats"
            width="25"
            height="25"
          />
        </button>
        <button
          type="button"
          class="btn btn-sm"
          (click)="onDelete(url)"
          title="Remove Short URL"
        >
          <img
            src="/assets/img/delete.svg"
            alt="Delete Short URL"
            width="25"
            height="25"
          />
        </button>
      </td>
    </tr>
  </tbody>
</table>
