<!-- Rapid filters -->
<div class="d-xs-table-row d-md-flex col-12">
  <div class="d-flex align-items-center ms-auto">
    <button
      type="button"
      id="btn-shorten-url"
      class="btn btn-outline-secondary btn-sm me-1 ms-auto"
      (click)="onRefresh()"
    >
      Refresh
    </button>
    <button
      type="button"
      id="btn-shorten-url"
      class="btn btn-outline-primary btn-sm me-2 ms-1"
      (click)="onAdd()"
    >
      Shorten an URL
    </button>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">URL</th>
      <th scope="col" class="d-none d-md-table-cell">Short URL</th>
      <th scope="col" class="d-none d-md-table-cell">Create Date</th>
      <th scope="col" class="d-none d-md-table-cell">Expiry Date</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let url of userUrls; index as i; trackBy: trackById">
      <th scope="row">{{ url.id }}</th>
      <td>
        <span [ngbTooltip]="url.longUrl">
          {{ url.longUrl | truncate }}
        </span>
        <app-copy-clipboard-btn
          [value]="url.longUrl"
          className="d-none d-md-table-cell"
          title="URL copied"
          message="The long URL has been copied to your clipboard"
        ></app-copy-clipboard-btn>
      </td>
      <td class="d-none d-md-table-cell">
        <span [ngbTooltip]="url.shortUrl">
          {{ url.shortUrl | truncate : true }}
        </span>
        <app-copy-clipboard-btn
          [value]="url.shortUrl"
          title="URL copied"
          message="The short URL has been copied to your clipboard"
        ></app-copy-clipboard-btn>
      </td>
      <td class="d-none d-md-table-cell">{{ url.createDate | date }}</td>
      <td class="d-none d-md-table-cell">{{ url.expiryDate | date }}</td>
      <td>
        <app-copy-clipboard-btn
          [value]="url.shortUrl"
          className="d-table-cell d-md-none"
          title="URL copied"
          message="The short URL has been copied to your clipboard"
        ></app-copy-clipboard-btn>
        <button
          type="button"
          class="btn btn-sm"
          (click)="onDisplayStats(url)"
          ngbTooltip="Display URL Stats"
        >
          <img
            src="/assets/img/stats.svg"
            alt="Display URL Stats"
            width="25"
            height="25"
          />
        </button>
        <button
          type="button"
          class="btn btn-sm"
          (click)="onDelete(url)"
          ngbTooltip="Remove Short URL"
        >
          <img
            src="/assets/img/delete.svg"
            alt="Delete Short URL"
            width="25"
            height="25"
          />
        </button>
      </td>
    </tr>
  </tbody>
</table>
